{{define "main"}}
<section class="hero  overflow-hidden relative max-lg:pt-150 pt-[240px] pb-[60px] z-40">
  <div class="container">
    <div
      class="max-w-[948px] mx-auto text-center"
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      {{ if eq .Data.Plural "categories" }}
      <p class="mb-4 font-medium uppercase">Blog Categories</p>
      <h1 class="max-lg:mb-10 mb-10">Blog Categories created <br>  by aplio</h1>
      {{end}}
      {{ if eq .Data.Plural "tags" }}
      <p class="mb-4 font-medium uppercase">Blog Tags</p>
      <h1 class="max-lg:mb-10 mb-10">Blog Tags created <br>  by aplio</h1>
      {{end}}
    </div>
  </div>
</section>
<section class="mb-150 relative">
  <div
    class="absolute left-1/2 -top-[250px] w-full h-[550px] -translate-x-1/2 bg-cover  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
  ></div>
  <div class="container relative">
    <div class="absolute left-1/2 top-20 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden">
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
    </div>
    <div class="grid grid-cols-12 max-md:gap-y-25 md:gap-5 lg:gap-8">
      {{ range .Data.Terms.ByCount }}

        <article
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500 h-full max-sm:col-span-full max-md:col-span-6 col-span-4 [&>*:not(:last-child)]:mb-8"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-6 max-md:p-4 h-full">
            <div class="">
              <a href="{{ .Page.Permalink }}" class="block">
                <h3 class="mb-1 font-semibold leading-[1.33]">
                  {{ .Page.Title }}
                </h3>
              </a>
              <div class="flex gap-x-2 items-center mb-2">
                <p>{{ $Totalpage:= len .Pages }} {{ $Totalpage }} post{{ if ne $Totalpage 1 }}s{{ end }}</p>
              </div>
            </div>
          </div>
        </article>

      {{end}}
    </div>
  </div>
</section>


{{end}}