{{ with .Site.GetPage "/home-4"}}
{{range .Params.process}}

<section
  class="relative"
  data-aos="fade-up"
  data-aos-offset="200"
  data-aos-duration="1000"
  data-aos-delay="200"
  data-aos-once="true"
>
  <div class="container">
    <div class="text-center max-w-[620px] mx-auto mb-25">
      <p class="section-tagline">{{ .tagline }}</p>

      <h2 class="mb-8">
        {{ .title | safeHTML }}
      </h2>
    </div>
    <div
      class=" grid grid-cols-3 max-md:grid-cols-1 max-md:gap-y-25 md:gap-5 lg:gap-25 relative z-10 [&>*:not(:last-child)]:after:absolute md:[&>*:not(:last-child)]:after:-right-4 lg:[&>*:not(:last-child)]:after:-right-[60px] md:[&>*:not(:last-child)]:after:top-1/2 md:[&>*:not(:last-child)]:after:-transform-y-1/2 [&>*:not(:last-child)]:after:w-10 [&>*:not(:last-child)]:after:h-2.5 [&>*:not(:last-child)]:after:bg-no-repeat [&>*:not(:last-child)]:after:bg-center [&>*:not(:last-child)]:after:bg-[url('../images/analytics/account-right-arrow.png')] dark:[&>*:not(:last-child)]:after:bg-[url('../images/analytics/account-right-arrow-dark.png')] max-md:[&>*:not(:last-child)]:after:rotate-90 max-md:[&>*:not(:last-child)]:after:left-1/2 max-md:[&>*:not(:last-child)]:after:-translate-x-1/2 max-md:[&>*:not(:last-child)]:after:-bottom-[60px] mb-15"
    >
      {{ range .steps}}
      <div class="flex items-center gap-6 md:gap-2.5 lg:gap-6 relative">
        <div
          class="bg-white dark:bg-dark-200 rounded-full max-lg:p-2 p-2.5 shadow-nav relative  scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500 shrink-0"
        >
          <div
            class="border border-dashed rounded-full border-gray-100 dark:border-borderColour-dark p-6 h-full max-lg:p-5"
          >
            <img
              src="{{ .iconLight | absURL }}"
              alt="account icon"
              class="dark:hidden"
            />
            <img
              src="{{ .iconDark | absURL }}"
              alt="account icon"
              class="hidden dark:inline-block"
            />
          </div>
        </div>
        <h3 class="leading-8">
          {{ .name | safeHTML}}
        </h3>
      </div>
      {{end}}
    </div>
    <div class="text-center">
      <a
        href="/contact"
        class="btn-outline"
      >
        Try it for 30 days, no credit card required
      </a>
    </div>
  </div>
</section>
{{end}}
{{end}}
