{{ define "main"}}
  {{ partial "global/pageHero.html" (dict "context" . "page" "home-3") }}
  {{ partial "home-3/bankingDetails.html" . }}
  {{ partial "global/membersCounter.html" (dict "context" . "border" "false" "value1" "85" "value2" "45") }}
  {{ partial "global/paymentFeature.html" (dict "context" . "page" "home-3" "className" "bg-white dark:bg-dark-300 py-150 max-md:py-25 relative max-md:overflow-hidden" "tagline" "our Services"  "sectionTitle" "The world's best <br> companies trust aplio")}}
  
  {{ partial "home-3/aboutOnlineBanking.html" . }}
  {{ partial "global/client.html" (dict "context" . "title" "false" "subtitle" "false" "btn" "false") }}
  
  {{ partial "global/team.html"  (dict "context" . "sectionHeader" "true"  "sectionSpacingClass" "pt-150 max-md:pt-20 max-md:overflow-hidden" "gradientClass" "max-md:top-0 md:top-1/2" "loopRange" "true") }}
  
  {{ partial "global/counter.html" .}}
  
  {{ partial "global/pricing.html" (dict "context" . "largeTitle" "false" "pricingDescription" "false" "spacing" "pt-150 mb-150 max-md:mb-25")}}
  
  {{ partial "global/faq.html" .}}
  {{ partial "global/newsletter.html" ( dict "context" . "spacing" "")}}
{{end}}