{{ define "main" }} 
{{ partial "global/pageHero.html" (dict "context" . "page" "services") }}

<section class="bg-white dark:bg-dark-300 pb-150 max-md:pb-20 relative max-sm:overflow-hidden">
  <div
    class="absolute left-0 right-0 -top-[200px] bg-[url('../images/service-bg.png')] bg-no-repeat bg-cover bg-center opacity-70 w-full h-full sm:hidden"
  ></div>
  <div class="container ">
    <div class="relative z-10">
      <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-sm:hidden">
        <div
          class="  max-md:h-[750px] max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
        ></div>
        <div
          class=" max-md:h-[750px] max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
        <div
          class=" max-md:h-[750px] max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
      </div>
      <div
        class=" grid grid-cols-3 max-md:grid-cols-1 max-lg:grid-cols-2  gap-8"
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-duration="1000"
        data-aos-once="true"
      >
      {{range .Pages.Reverse }}
        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div
            class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 h-full max-lg:p-5"
          >
            <img
              src="{{ .Params.logo | absURL }}"
              alt="service logo"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="{{ .Params.logoDark | absURL }}"
              alt="service logo"
              class="hidden dark:inline-block mb-6"
            />
            <a
              href="{{.Permalink}}"
              class="block"
            >
              <h3 class="mb-2.5">{{ .Title | safeHTML }} </h3>
            </a>
            <p class="mb-6">{{ .Params.excerpt | safeHTML }}</p>
            <a
              href="{{.Permalink}}"
              class="btn-outline btn-sm"
            >
              Read More
            </a>
          </div>
        </div>

      {{end}}
      </div>
    </div>
  </div>
</section>

{{ partial "global/membersCounter.html" (dict "context" . "border" "true" "value1" "85" "value2" "45")}}
{{ partial "global/pricing.html" (dict "context" . "largeTitle" "false" "pricingDescription" "false" "spacing" "pt-150 mb-150 max-md:mb-25")}}

{{ partial "global/newsletter.html" ( dict "context" . "spacing" "")}}
{{end}}