{{with .Site.Data.cta }}
<section class="relative pt-150 max-md:pt-25 pb-20 max-md:pb-25 max-md:overflow-hidden">
  <div class="container relative ">
    <div class="absolute left-1/2 -bottom-[442px] -translate-x-1/2  flex max-md:flex-col -z-10 max-md:hidden">
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
    </div>
    <div
      class="absolute left-1/2 -bottom-[350px] p-[350px] -translate-x-1/2 bg-contain w-full h-full  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
    ></div>
    <div class=" text-center mx-auto">
      <h2 class="mb-5 max-lg:text-[32px] text-[48px] font-semibold ">{{ .title | safeHTML }} </h2>
      <p class="max-lg:mt-6 mb-12 max-w-[400px] mx-auto">{{.details}}</p>
      <a
        href="/contact"
        class="btn"
      >
        Get Started Today
      </a>
      <ul
        class=" flex max-lg:flex-col max-lg:gap-5  items-center justify-between max-lg:mt-5 mt-20 max-w-[815px] mx-auto"
      >
        {{range .features}}
        <li class="flex items-center">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mr-3"
          >
            <path
              d="M14.125 7.75L8.62497 13L5.875 10.375M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z"
              stroke=""
              class="stroke-paragraph dark:stroke-primary"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p>{{ . }}</p>
        </li>
        {{end}}
      </ul>
    </div>
  </div>
</section>
{{end}}