{{ with .Site.GetPage "/faq"}}
  
<section class="relative pb-150 max-md:overflow-hidden">
  <div class="container relative">
    <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden">
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
    </div>
    <div
      class="absolute left-1/2 top-150 p-[350px] -translate-x-1/2 bg-cover w-full h-full  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
    ></div>
    <div class=" max-w-[830px] mx-auto">
      {{ range .Params.hero}}
      <div class=" text-center">
        <p class="section-tagline mb-3">{{ .tagline }}</p>

        <h2 class="mb-12">
          {{ .Title | safeHTML }}
        </h2>
      </div>
      {{end}}
      <div class="[&>*:not(:last-child)]:mb-5">
        {{ range .Params.faqItems }}
        {{if eq .type "General"}}
        <div class="faq-item bg-white dark:bg-dark-200 p-2.5 rounded-medium">
          <div
            class="faq-header flex items-center py-3 px-5 bg-white dark:bg-dark-200 border border-dashed rounded border-gray-100 dark:border-borderColour-dark  cursor-pointer"
          >
            <h3 class="text-xl font-semibold">Q. What is a business agency?</h3>
            <span class="shrink-0 ml-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                class="plus"
              >
                <path
                  d="M6.25 10H13.75M10 6.25V13.75M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z"
                  stroke=""
                  stroke-width="1.5"
                  stroke-linecap="round"
                  class="stroke-paragraph dark:stroke-primary"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                class=" minus"
              >
                <path
                  d="M6.25 10H13.75M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z"
                  stroke=""
                  stroke-width="1.5"
                  stroke-linecap="round"
                  class="stroke-paragraph dark:stroke-primary"
                />
              </svg>
            </span>
          </div>
          <div class="faq-body close">
            <div class="text-paragraph-light pt-6 px-6 pb-3.5 dark:text-[#A1A49D]">
              Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. “It's not Latin.
            </div>
          </div>
        </div>
        {{end}}
        {{end}}
      </div>
    </div>
  </div>
</section>

{{end}}