{{ $page:= .page}}
{{ with .context.Site.GetPage $page}}
{{range  .Params.hero}}
<section class="hero  overflow-hidden relative max-lg:pt-150 pt-[240px] pb-[60px] z-40">
  <div class="container">
    <div
      class="max-w-[948px] mx-auto text-center"
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <p class="mb-4 font-medium uppercase">{{ .tagline }}</p>
      <h1 class="max-lg:mb-10 mb-10">{{ .title | safeHTML }} </h1>
      <p class="max-lg:mb-10 mb-12 max-w-[590px] mx-auto">{{ .details | safeHTML }} </p>
    </div>
  </div>
</section>
{{end}}
{{end}}