{{ with .Site.GetPage "/career"}}
<section class="relative pt-24 md:pt-28">
  <div
    class="absolute left-1/2 -top-[300px] w-full h-[550px] -translate-x-1/2 bg-cover  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
  ></div>
  <div class="container">
    {{ with index .Params.hero 0 }}
    <div class="max-w-[948px] mx-auto text-center mb-12 md:mb-16">
      <p class="mb-4 font-medium uppercase">{{ .tagline }}</p>
      <h1 class="mb-6 md:mb-8">{{ .title | safeHTML }}</h1>
      {{ if .details }}
      <p class="max-w-[590px] mx-auto">{{ .details | safeHTML }}</p>
      {{ end }}
    </div>
    {{ end }}
    <div
      class=" bg-white dark:bg-dark-200 shadow-nav rounded-medium p-2.5 mb-12 max-md:h-[400px]"
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-duration="500"
      data-aos-once="true"
    >
      <img
        src="{{ .Params.careerBanner | absURL }}"
        alt="career banner"
        class="w-full  rounded max-md:w-auto max-md:object-cover max-md:object-center  max-md:h-full"
      />
    </div>
    <div class=" max-w-[850px] mx-auto">
      <h2 class=" max-w-[700px] mb-9">{{ .Params.careerHeading | safeHTML}}</h2>
      <p>
        {{ .Params.careerDetails | safeHTML}}
      </p>
    </div>
  </div>
</section>
{{end}}
