{{ with .Site.GetPage "/career"}}
<section class="relative">
  {{ partial "global/desktopSectionBackdrop.html" (dict
    "wrapperClass" "h-[640px]"
    "imageTopClass" "-top-[220px]"
    "imageHeightClass" "h-[550px]"
  ) }}
  <div class="container">
    <div
      class=" bg-white dark:bg-dark-200 shadow-nav rounded-medium p-2.5 mb-12 max-md:h-[400px]"
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-duration="500"
      data-aos-once="true"
    >
      <img
        src="{{ .Params.careerBanner | absURL }}"
        alt="career banner"
        class="w-full  rounded max-md:w-auto max-md:object-cover max-md:object-center  max-md:h-full"
      />
    </div>
    <div class=" max-w-[850px] mx-auto">
      <h2 class=" max-w-[700px] mb-9">{{ .Params.careerHeading | safeHTML}}</h2>
      <p>
        {{ .Params.careerDetails | safeHTML}}
      </p>
    </div>
  </div>
</section>
{{end}}
