{{with .Site.GetPage "/home-3"}}
{{ range .Params.aboutOnlineBanking}}
<section class=" overflow-hidden relative pb-150 max-md:pb-20">
  <div class="container relative z-10">
    <div class="grid grid-cols-2 max-md:grid-cols-1 gap-10 1xl:gap-x-24 items-center">
      <div class="relative flex max-md:justify-center justify-end items-center">
        <img
          src="{{"images/about/onlinePayment.png" | absURL }}"
          alt="banking image"
          class="dark:hidden max-w-[250px] lg:max-w-[320px] xl:max-w-[420px]"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-once="true"
        />
        <img
          src="{{"images/about/onlinePayment-dark.png" | absURL }}"
          alt="banking image"
          class="hidden dark:inline-block  max-w-[250px] lg:max-w-[320px] xl:max-w-[420px]"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-once="true"
        />
        <div
          class="absolute left-0 right-auto bottom-8 top-auto max-w-[180px] md:max-w-[250px] xl:max-w-[344px] "
          data-aos="fade-right"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <img
            src="{{"images/about/onlinePayment-shape.png" | absURL }}"
            alt="banking image"
            class="dark:hidden"
          />
          <img
            src="{{"images/about/onlinePayment-shape-dark.png" | absURL }}"
            alt="banking image"
            class="hidden dark:inline-block "
          />
        </div>
      </div>

      <div>
        <p class="section-tagline">{{ .tagline }} </p>

        <h2 class="max-md:mb-4 mb-8"> {{ .title }} </h2>
        <p class="max-md:mb-6 mb-11">
          {{ .details }}
        </p>
        <ul class="max-md:mb-0 mb-14 [&>*:not(:last-child)]:mb-6 max-md:[&>*:not(:last-child)]:mb-4">
          {{range .listItem }}
          <li class="flex items-center gap-x-2 ">
            <span
              class="relative  rounded-full bg-white dark:bg-dark-200 shadow-icon flex item-center justify-center gap-6"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
              >
                <circle
                  cx="15"
                  cy="15"
                  r="14"
                  fill=""
                  class="fill-[#E6FFB1] dark:fill-[#3B3C39]"
                />
                <path
                  d="M15 0C6.75 0 0 6.75 0 15C0 23.25 6.75 30 15 30C23.25 30 30 23.25 30 15C30 6.75 23.25 0 15 0ZM16.125 1.25C20.5 1.625 24.25 4 26.5 7.5H12.375L16.125 1.25ZM18.375 8.75L22.125 15L18.375 21.25H11.5L7.875 14.75L11.625 8.75H18.375ZM14.75 1.25L7.25 13.5L3.625 7.25C6.125 3.75 10.125 1.375 14.75 1.25ZM1.25 15C1.25 12.625 1.875 10.375 2.875 8.5L10.125 21.25H2.75C1.75 19.375 1.25 17.25 1.25 15ZM13.875 28.75C9.5 28.375 5.75 26 3.5 22.5H17.625L13.875 28.75ZM15.375 28.75L23 16.25L26.75 22.375C24.25 26.125 20.125 28.625 15.375 28.75ZM19.875 8.75H27.25C28.25 10.625 28.75 12.75 28.75 15C28.75 17.125 28.25 19.25 27.375 21L19.875 8.75Z"
                  fill=""
                  class="fill-paragraph dark:fill-primary"
                />
              </svg>
            </span>
            <span class="dark:text-white"> {{.}} </span>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}