<section class="relative pb-25 max-md:overflow-hidden {{.spacing }}">
  <div class="container relative max-md:text-center">
    <div class="absolute left-1/2 -bottom-[442px] -translate-x-1/2  flex max-md:flex-col -z-10 max-md:hidden">
      <div
        class="max-md:hidden max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
    </div>
    <div
      class="absolute left-1/2 -bottom-[350px] p-[350px] -translate-x-1/2 bg-contain w-full h-full  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
    ></div>
    {{ with .context.Site.Data.newsletter}}
    <div>
      <div>
        <p class="section-tagline">{{ .tagline }}</p>
      </div>
      <div class="grid grid-cols-12 grid-y-10 items-start">
        <div class="max-md:col-span-full md:col-span-6 lg:col-span-7">
          <h2 class="mb-5 max-lg:text-[32px] text-[48px] font-semibold ">{{ .title | safeHTML }}</h2>
          <p>{{ .details | safeHTML }}</p>
        </div>
        <div class="max-md:col-span-full md:col-span-6 lg:col-span-5 max-md:mt-5 ">
          <form>
            <div class="grid grid-cols-12 items-center max-lg:gap-y-5 lg:gap-x-6 ">
              <input
                type="text"
                placeholder="Enter your email"
                class="bg-transparent placeholder:text-light dark:placeholder:text-[#A1A49D] text-[#A1A49D] text-light focus:outline-none  leading-[1.5] border rounded-[60px] bg-white dark:bg-dark-200 dark:border-[#31332F] border-borderColour max-lg:col-span-full lg:col-span-8 h-full ps-5 max-lg:py-3.5 focus:border-primary dark:focus:border-primary  duration-300 transition-all outline-none"
              />
              <button type="submit" class="btn max-lg:col-span-full lg:col-span-4">Get Started</button>
            </div>
          </form>
          <ul class=" flex max-md:flex-col max-lg:gap-y-2.5 items-center max-lg:justify-between lg:gap-5 mt-6 ">
            {{ range .features}}
            <li class="flex items-center">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="mr-3"
              >
                <path
                  d="M14.125 7.75L8.62497 13L5.875 10.375M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z"
                  stroke=""
                  class="stroke-paragraph dark:stroke-primary"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <p> {{ . }} </p>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</section>
