
<section class="bg-white pt-150  dark:bg-dark-300 relative sm:overflow-hidden">
  <div
    class="absolute left-0 right-0 top-25 bg-[url('../images/service-bg.png')] bg-no-repeat bg-cover bg-center opacity-70 w-full h-full  sm:hidden"
  ></div>
  <div class="container">
    <div class="grid grid-cols-12 max-md:gap-y-8 md:gap-8">
      {{ with .Site.Data.customServices}}
      <div class="col-span-12 md:col-span-4">
        <div class="max-md: mb-15">
          <p class="section-tagline">{{.tagline}}</p>

          <h2 class="mb-8">
            {{ .title | safeHTML }}
          </h2>
          <p class="max-w-[520px] mb-8">
            {{ .details | safeHTML }}
          </p>
          <a
            href="/services"
            class="btn"
          >
            Get More Services
          </a>
        </div>
      </div>
      {{ end }}
      <div class="col-span-12 md:col-span-8 1xl:pl-[120px]">
        <div class="relative z-10">
          <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex -z-10 max-sm:hidden">
            <div
              class="w-[330px] h-[330px] xl:w-[350px] xl:h-[350px] blur-[145px] rounded-full bg-primary-200/20 "
            ></div>
            <div
              class="w-[330px] h-[330px] xl:w-[350px] xl:h-[350px] blur-[145px] rounded-full bg-primary-200/20 lg-ml-[170px]"
            ></div>
          </div>
          <div class="grid grid-cols-2 max-md:grid-cols-1 gap-8">
            {{ with .Site.Data.customServices}}
            {{ range .serviceList}}
            <div
              class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav relative scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
            >
              <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10">
                <img
                  src="{{ .iconLight | absURL }}"
                  alt="service logo"
                  class="inline-block dark:hidden mb-6"
                />
                <img
                  src="{{ .iconDark | absURL }}"
                  alt="service logo"
                  class="hidden dark:inline-block mb-6"
                />
                <a
                  href="{{"/services/" | absURL }}{{.slug | urlize}}"
                  class="block"
                >
                  <h3 class="mb-2.5">{{ .title | safeHTML }}</h3>
                </a>
                <p class="mb-6">{{ .details | safeHTML }}</p>
                <a
                  href="{{"/services/" | absURL }}{{.slug | urlize}}"
                  class="btn-outline btn-sm"
                >
                  Read More
                </a>
              </div>
            </div>
            {{end}}
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
