{{ with .Site.GetPage "/testimonial"}}
<section class="bg-white dark:bg-dark-300 pb-150 max-md:py-20 pt-150 relative">
  <div
    class="absolute left-0 right-0 top-1/2 -translate-y-1/2 bg-[url('../images/service-bg.png')] bg-no-repeat bg-center opacity-70 w-full h-full  md:hidden"
  ></div>
  <div class="container relative">
    <div class="text-center max-w-[550px] mx-auto mb-16">
      <p class="section-tagline">{{ .Params.tagline }}</p>
      <h2>{{ .Title | safeHTML }}</h2>
    </div>
    <div class="relative z-10">
      <div
        class="absolute left-1/2 top-[37%] -translate-x-1/2 -translate-y-1/2 flex max-lg:flex-col max-lg:item-center -z-10 max-md:hidden"
      >
        <div
          class="w-[350px] h-[350px] lg:w-[442px] lg:h-[442px] blur-[80px] lg:blur-[145px] rounded-full bg-primary-200/20 "
        ></div>
        <div
          class="w-[350px] h-[350px] lg:w-[442px] lg:h-[442px] blur-[80px] lg:blur-[145px] rounded-full bg-primary-200/25 lg:-ml-[170px]"
        ></div>
        <div
          class="w-[350px] h-[350px] lg:w-[442px] lg:h-[442px] blur-[80px] lg:blur-[145px] rounded-full bg-primary-200/20 lg:-ml-[170px] "
        ></div>
      </div>

      <div class=" flex flex-wrap max-md:flex-col gap-6 gap-y-8 justify-center mb-12">
        {{range first 5 .Params.testimonials}}
        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5  md:w-[calc(50%_-_20px)] lg:w-[calc(33.33%_-_20px)] shadow-nav"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-7 ">
            <img
              src="{{ .brandLogo | absURL  }}"
              alt="service logo"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="{{ .brandLogoDark | absURL  }}"
              alt="service logo"
              class="hidden dark:inline-block mb-6"
            />
            <blockquote class="text-paragraph dark:text-white italic mb-5 leading-[1.75]">
              “{{ .quote | safeHTML }}”
            </blockquote>
            {{ if .rating }}
            <div class="mb-7">
              {{ $rating := .rating | int }}
              {{ $rating := sub $rating 1 }}
              {{ range $i, $sequence := (seq 5) }}
                {{ if le $i $rating }}
                <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
                {{ else }}
                <i class="fa-solid fa-star text-[#A7A7B4] dark:text-[#646463]"></i>
                {{ end }}
              {{ end }}
            </div>
            {{end}}
            <div class="pt-7 flex items-center border-t border-dashed border-gray-100 dark:border-borderColour-dark">
              <img
                src="{{ .authorImage | absURL }}"
                alt="avatar"
                class="mr-4 rounded-full"
              />
              <div class="block">
                <h3 class="text-base font-semibold">{{.authorName}}</h3>
                <p class="text-paragraph-light dark:text-[#A1A49D] font-jakarta_sans text-sm font-medium">
                  {{.authorDesignation}}
                </p>
              </div>
            </div>
          </div>
        </div>
        {{end}}
      </div>

      <div class="flex items-center justify-center">
        <a
          href="/contact"
          class="btn-outline"
        >
          Start Your jouney
        </a>
      </div>
    </div>
    <div
      class="w-full h-[450px] absolute bottom-15 left-0 z-10 bg-gradient-to-b  from-transparent  to-white dark:to-dark-300 to-100%"
    ></div>
  </div>
</section>
{{end}}