<section class="bg-white dark:bg-dark-300 pt-150 lg:pb-[140px] max-md:pt-25 max-md:pb-0 relative">
  <div
    class="absolute left-0 right-0 top-25 bg-[url('../images/core-gradient.png')] bg-no-repeat bg-center opacity-70 w-full h-full bg-[length:600px_1000px] md:hidden"
  ></div>
  <div class="container ">
    <div class="mb-12">
      <p class="section-tagline">Financial blog tips and tricks</p>
      <div class="md:flex md:gap-10 ">
        <h2 class="md:shrink-0">Our recent news & insights</h2>
        <p class="max-md:mt-4 max-w-[600px]  ml-auto">
          Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's not Latin though it
          looks like nothing.
        </p>
      </div>
    </div>

    <div class="relative z-10">
      <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden">
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
        ></div>
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
      </div>
      <div class=" grid grid-cols-3 max-md:grid-cols-1 gap-8">
        {{ range where .Site.RegularPages "Type" "blog" }}
        {{ if eq .Params.tags "Finance"}}
        <article
            class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
          >
            <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-6 max-md:p-4">
              {{if .Params.tags}}
                  <a href="{{ "/tags/" | absURL }}{{ .Params.tags | urlize }}" class="badge badge-primary">{{ .Params.tags }}</a>
                {{end }}
              <a href="{{.Permalink}}" class="block">
                <h3 class="mb-3 font-semibold leading-[1.33]">{{ .Title }}</h3>
              </a>
              <div class="flex gap-x-2 items-center mb-4 ">
                <p>{{.Params.author}} </p>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="5"
                    height="6"
                    viewBox="0 0 5 6"
                    fill="none"
                  >
                    <circle
                      cx="2.5"
                      cy="3"
                      r="2.5"
                      fill=""
                      class="fill-[#D8DBD0] dark:fill-[#3B3C39]"
                    />
                  </svg>
                </span>
                <p>{{ .Date | time.Format ":date_medium" }}</p>
              </div>
              <p class="mb-6">{{ truncate 80 .Summary }}</p>
              <a
                href="{{.Permalink}}"
                class="btn-outline  btn-sm"
              >
                Learn More
              </a>
            </div>
          </article>
        {{end}}
        {{end}}
      </div>
    </div>
  </div>
</section>
