PORT=2024
PMAPI_MYSQL_HOST=
PMAPI_MYSQL_USER=
PMAPI_MYSQL_PASS=
PMAPI_MYSQL_DB=
JWT_SECRET=
JWT_REFRESH_SECRET=
AUTH_AUTO_VERIFY_EMAIL=false
DISABLE_TRANSACTIONAL_EMAIL=false
S3_BUCKET=
S3_REGION=auto
S3_ENDPOINT=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_PUBLIC_BASE_URL=
S3_FORCE_PATH_STYLE=false
