
{{ with .Site.GetPage "/services"}}

<section class="bg-white dark:bg-dark-300 pb-150 relative sm:overflow-hidden">
  <div
    class="absolute left-0 right-0 top-25 bg-[url('../images/service-bg.png')] bg-no-repeat bg-cover bg-center opacity-70 w-full h-full  sm:hidden"
  ></div>
  <div class="container ">
    <div class="mb-12">
      <p class="section-tagline max-lg:text-center">{{.Params.pageTagline}}</p>
      <div class="block max-lg:text-center lg:flex">
        <h2 class=" max-lg:mb-5">
          {{ .Title | safeHTML }}
        </h2>
        <p class="max-w-[520px] mx-auto lg:ml-auto">
          {{ .Params.details | safeHTML }}
        </p>
      </div>
    </div>

    <div class="relative z-10">
      <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex -z-10 max-sm:hidden">
        <div class="w-[330px] h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/20 "></div>
        <div
          class="w-[330px] h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/25 lg:-ml-[170px]"
        ></div>
        <div
          class="w-[330px] h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/20 lg-ml-[170px]"
        ></div>
      </div>

      <div class="grid grid-cols-3  max-sm:grid-cols-1 max-lg:grid-cols-2 gap-8">
        {{range .Pages.Reverse }}
        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav relative scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 ">
            <img
              src= "{{ .Params.logo | absURL }}"
              alt="service logo"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src= "{{ .Params.logoDark | absURL }}"
              alt="service logo"
              class="hidden dark:inline-block mb-6"
            />
            <a
              href="{{.Permalink}}"
              class="block"
            >
              <h3 class="mb-2.5">{{ .Title | safeHTML}}</h3>
            </a>
            <p class="mb-6">{{ .Params.excerpt | safeHTML }}</p>
            <a
              href="{{.Permalink}}"
              class="btn-outline btn-sm"
            >
              Read More
            </a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{end}}