{{ with .Site.GetPage "/"}}
  {{range .Params.solution}}
  <section
    class=" bg-white dark:bg-dark-300 overflow-hidden relative pt-[160px] pb-150 lg:pb-15 max-lg:pt-20 max-lg:pb-150"
  >
    <div class="container ">
      <div class="grid grid-cols-2 max-md:grid-cols-1 gap-10 1xl:gap-x-24 items-center">
        <div class="max-md:order-2">
          <div class="relative pt-150 lg:py-150 lg:px-150">
            <div class="w-[250px] lg:w-[300px] aspect-video relative mx-auto">
              <img
                src="{{"images/solution/solution.png" | absURL }}"
                alt="vision image"
                class="dark:hidden"
              />
              <img
                src="{{"images/solution/solution-dark.png" | absURL }}"
                alt="vision image"
                class="hidden dark:inline-block"
              />
              <div
                class="absolute left-10 -top-[130px] lg:-top-[185px] lg:left-15 right-auto bottom-auto w-[250px] h-[150px] lg:w-[280px] lg:h-[180px] xl:w-[320px] xl:h-[230px]"
                data-aos="fade-left"
                data-aos-offset="200"
                data-aos-duration="1000"
                data-aos-once="true"
              >
                <img
                  src="{{"images/solution/solution-shape1.png" | absURL }}"
                  alt="vision image"
                  class="dark:hidden  w-full"
                />
                <img
                  src="{{"images/solution/solution-shape1-dark.png" | absURL }}"
                  alt="vision image"
                  class="hidden dark:inline-block w-full"
                />
              </div>
              <div
                class="absolute right-12 top-12 lg:right-20 left-auto bottom-auto w-[280px] h-[190px] lg:w-[320px] lg:h-[230px] xl:w-[368px] xl:h-[280px]"
                data-aos="fade-up"
                data-aos-offset="200"
                data-aos-duration="1000"
                data-aos-delay="100"
                data-aos-once="true"
              >
                <img
                  src="{{"images/solution/solution-shape2.png" | absURL }}"
                  alt="vision image"
                  class="dark:hidden  w-full"
                />
                <img
                  src="{{"images/solution/solution-shape2-dark.png" | absURL }}"
                  alt="vision image"
                  class="hidden dark:inline-block w-full"
                />
              </div>
              <div
                class="absolute left-[175px] -bottom-[70px] lg:-bottom-[86px] lg:left-[200px] right-auto top-auto w-[150px] lg:w-[170px] aspect-video"
                data-aos="fade-left"
                data-aos-offset="200"
                data-aos-duration="1000"
                data-aos-delay="200"
                data-aos-once="true"
              >
                <img
                  src="{{"images/solution/solution-shape3.png" | absURL }}"
                  alt="vision image"
                  class="dark:hidden  w-full"
                />
                <img
                  src="{{"images/solution/solution-shape3-dark.png" | absURL }}"
                  alt="vision image"
                  class="hidden dark:inline-block w-full"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="max-md:order-1 lg:-mt-15">
          <p class="section-tagline">{{.tagline}}</p>

          <h2 class="max-lg:mb-4 mb-8">{{.name | safeHTML }}</h2>
          <p class="max-lg:mb-6 mb-11">
           {{.details | safeHTML}}
          </p>
          <ul
            class="max-lg:mb-6 mb-14 flex max-md:flex-col max-md:gap-y-5 lg:items-center lg:[&>*:not(:last-child)]:mr-10 "
          > {{ range .feature}}
            <li class="relative flex items-center gap-x-2 ">
              <i class="fa-solid fa-check text-paragraph dark:text-primary"></i>
              <span class="dark:text-white font-jakarta_sans font-medium">{{ .item }}</span>
            </li>
            {{end}}
          </ul>
          <a
            href="/contact"
            class="btn-outline"
          >
            Start Your Journey
          </a>
        </div>
      </div>
    </div>
  </section>
  {{end}}
{{end}}
