{{ with .Site.GetPage "/blog"}}
<div class="relative">
  <div
    class="absolute left-1/2 -top-150 w-full h-[550px] -translate-x-1/2 bg-cover  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
  ></div>
  <div
    class="container pb-150 max-md:pb-10 relative after:absolute  after:w-full after:h-1 after:bottom-0  after:bg-[url('../images/blog/blog-seperator.svg')] dark:after:bg-[url('../images/blog/blog-seperator-dark.svg')] after:left-1/2  after:-translate-x-1/2 after:bg-no-repeat after:bg-center after:bg-full max-md:after:hidden"
  >
    <div class="relative z-10">
      <div
        class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex -z-10 max-lg:max-w-full max-md:hidden"
      >
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
        ></div>
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
      </div>

      <div
        class=" !pb-20 md:!px-6 swiper "
        id="blog-feature"
      >
        <div class="swiper-wrapper">
          {{ range where .Site.RegularPages "Type" "blog"}}
          {{if .Params.isFeatured}}
          <article class="bg-white dark:bg-dark-200 rounded-medium p-2.5 swiper-slide shadow-nav">
            <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-6 max-md:p-4">
              <div class="grid grid-cols-2 max-md:grid-cols-1 max-md:gap-y-5 gap-12 items-center">
                <img
                  src="{{ .Params.thumbnail | absURL }}"
                  alt="blog image"
                  class="w-full rounded-lg max-md:object-cover max-md:object-center max-md:h-[350px]"
                />
                <div class="">
                  {{if .Params.tags}}
                    <a href="{{ "/tags/" | absURL }}{{ .Params.tags | urlize }}" class="badge">{{ .Params.tags }}</a>
                  {{end }}
                  <a href="{{.Permalink}}" class="block">
                    <h3 class="mb-3 font-semibold leading-[1.33]">
                      {{.Title }}
                    </h3>
                  </a>
                  <div class="flex gap-x-2 items-center mb-4 ">
                    <p>{{.Params.author}}</p>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="5"
                        height="6"
                        viewBox="0 0 5 6"
                        fill="none"
                      >
                        <circle
                          cx="2.5"
                          cy="3"
                          r="2.5"
                          fill=""
                          class="fill-[#D8DBD0] dark:fill-[#3B3C39]"
                        />
                      </svg>
                    </span>
                    <p>{{ .Date | time.Format ":date_medium" }}</p>
                  </div>
                  <p class="mb-6">
                    {{ truncate 120 .Summary }}
                  </p>
                </div>
              </div>
            </div>
          </article>
          {{end}}
          {{end}}
        </div>
        <div class="swiper-pagination mt-12"></div>
      </div>
    </div>
  </div>
</div>
{{end}}